1. 다음과 같은 스키마를 가지는 DB 테이블 friends를 생성한다.

In [ ]:
CREATE TABLE friends (
   ...> id INTEGER PRIMARY KEY AUTOINCREMENT,
   ...> name TEXT,
   ...> location TEXT);

2. 해당 테이블에 다음과 같이 데이터를 입력한다.

In [ ]:
INSERT INTO friends (id, name, location)
   ...> VALUES
   ...> (1, 'Justin', 'Seoul'),                                                                                       
   ...> (2, 'Simon', 'New York'),
   ...> (3, 'Chang', 'Las Vegas'),
   ...> (4, 'John', 'Sydney');

3. 스키마를 다음과 같이 변경한다.

In [ ]:
ALTER TABLE friends
   ...> ADD COLUMN married INTEGER;

4. 데이터를 다음과 같이 추가한다.

In [ ]:
UPDATE friends SET married = 1 WHERE id = 1;
sqlite> UPDATE friends SET married = 0 WHERE id = 2;                                                                  
sqlite> UPDATE friends SET married = 0 WHERE id = 3;
sqlite> UPDATE friends SET married = 1  WHERE id = 4;

5. married가 0인 데이터를 모두 삭제한다.

In [ ]:
DELETE FROM friends WHERE married = 0;

테이블을 삭제한다.

In [ ]:
DROP TABLE friends;