# Many To Many Relation

## Student

| id(PK) | name      |
| ------ | --------- |
| INT    | CharField |



## Enrolment

| id(PK) | student_id(FK - Student) | lecture_id(FK - Lecture) |
| ------ | ------------------------ | ------------------------ |
| INT    | INT                      | INT                      |





## Lecture

| id(PK) | title     |
| ------ | --------- |
| INT    | CharField |

In [ ]:
# Student.objects.create(name='유태영')
# Student.objects.create(name='강동주')
# Student.objects.create(name='김탁희')
# Student.objects.create(name='김재석')
# Student.objects.count()

In [ ]:
# Lecture.objects.create(title='컴퓨터 운영체제')
# Lecture.objects.create(title='HTTP 와 네트워크')
# Lecture.objects.count()

In [ ]:
# Enrolment.objects.create(student_id=2, lecture_id=1)

# 황은석 = Student.objects.get(id=2)
# algo = Lecture.objects.get(id=2)

# Enrolment.objects.create(student=황은석, lecture=algo)

# Enrolment.objects.create(student_id=3, lecture_id=2)
# Enrolment.objects.create(student_id=4, lecture_id=1)
# Enrolment.objects.create(student_id=2, lecture_id=2)
Enrolment.objects.count()

In [ ]:
student = Student.objects.get(name='강동주')
수강신청1 = student.enrolment_set.first()
수강신청2 = student.enrolment_set.last()

수강신청1.lecture.title
수강신청2.lecture.title

In [ ]:
# 수업 여러 개 듣는 사람 1명을 student에 저장합니다.
student = Student.objects.get(name='김동주')

In [ ]:
# student 의 수업들 제목을 출력하는 for문을 작성해 보세요
for 수강신청 in student.enrolment_set.all():
    print(수강신청.lecture.title)

In [ ]:
# student 의 수업들 중 제목이 10 글자 넘는 수업의 제목을 출력
for x in student.enrolment_set.all():
    if len(x.lecture.title) > 10:
        print(x.lecture.title)

In [ ]:
Lecture.objects.create(title='dddd')

In [ ]:
# Lecture.students => 수업 듣는 모든 학생들
# student.Lectures => 학생이 듣는 모든 수업들

In [1]:
# Hotel.dummy(1)
new_hotel = Hotel.objects.last()
# new_hotel.clients.add(Client.objects.last())
new_hotel.clients.add(
    Client.objects.get(id=3),
    Client.objects.get(id=5),
    Client.objects.get(id=7),
)
new_hotel.clients.all().filter(name__contains='h')

In [3]:
# Client.dummy(1)
# Client.objects.all().values('id', 'name')
client = Client.objects.get(id=3)

client.hotels.add(
    Hotel.objects.get(id=2),
    Hotel.objects.get(id=4),
    Hotel.objects.get(id=6)
)

In [5]:
client.hotels.all().values('name')