1. 아래 표와 같은 스키마를 가진 DB 테이블을 생성하고, 아래와 같이 Data를 입력해 봅시다.

In [ ]:
CREATE TABLE bands (
	id INT PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    debut INT,
);

In [ ]:
INSERT INTO bands (id, name, debut)
VALUES
(1, 'Queen', 1973),
(2, 'Coldplay', 1988),
(3, 'MCR', 2001);

2. bands 테이블에서 모든 데이터 레코드의 id와 name 만 조회하는 Query 를 작성하라.

In [ ]:
SELECT id, name FROM bands

3. bands 테이블에서 debut가 2000보다 작은 밴드들의 이름만을 조회하는 Query 를 작성하라.

In [ ]:
SELECT name FROM bands WHERE debut < 2000;